
.back{
    background-image: url(../pics/cup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
}

table, th, td {
    border: 1px solid red;
    padding: 10px;

    
  }

  .tab{
    border: 7px solid red;
    border-collapse: separate;
    
  }

  .cost{
    background-color:cornflowerblue ;
    color: white;
    padding: 0px 8px;
    border: 2px solid grey;

  }
  .submitt{
    background-color: cornflowerblue;
    color: white;
    margin-top: 32px;
    border: 2px solid grey;
  }

  .clearr{
    background-color: cornflowerblue;
    color: white;
    border: 2px solid grey;
    margin-left: 8px;
  }

  

  .res-div{
    
    display: flex;
  }

  .output-div{
    width: 25%;
    height: 25px;
    margin-left: 15px;
    align-content: center;
    color:black;
    background-color: lightgray;
    

  }